.container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(255, 255, 255);
}

p:before {
    content: attr(type);
    display: block;
    font-size: 20px;
    color: gray;
    margin-top: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

input {
    border: rgb(191, 183, 183) solid 3px;
    background: rgb(255, 255, 255);
    color: rgb(35, 32, 32);
    padding-top: 12px;
    margin-top: 10px;
    padding: 10px 40px;

}

input:focus {
    outline: none;
    border-bottom: 3px solid rgb(46, 5, 5);
}

.tarjeta {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px 40px;
    border: 3px solid whitesmoke;
}

button {
    background: rgb(80, 65, 215);
    padding: 15px 200px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.centrar-boton {
    display: flex;
    justify-content: center;
}

h2,
header {
    color: rgb(77, 74, 74);
    /*border-bottom: 2px solid rgb(88, 59, 59);*/
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}

.msg_error {
    background: rgb(103, 202, 199);
    border-left: 7px solid rgb(44, 85, 79);
    padding: 10px;
    color: rgb(55, 49, 49);
    display: none;
    font-weight: bold;
}

img {
    margin-right: 150px;
}

.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.columna {
    flex: 1;
}